body {
    font-family: 'Roboto' , sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 20px;
  }
  img {
    display: block;
  }
  a {
    text-decoration: none;
  }
  h2 {
    font-size: 64px;
  }
  h3 {
    font-size: 24px;
  }
  .pb{
    padding-bottom: 12px;
  }
  .pb-1{
    padding-bottom: 16px;
  }
  .pb-2{
    padding-bottom: 32px;
  }
  .pb-3{
    padding-bottom: 40px;
  }
  .pb-4 {
    padding-bottom: 48px;
  }
  .pb-5 {
    padding-bottom: 68px;
  }
  .pb-6 {
    padding-bottom: 144px;
  }
  .pb-7 {
    padding-bottom: 160px;
  }
  .pt-1{
    padding-top: 56px;
  }
  .mb-1{
    margin-bottom: 56px;
  }
  .pl-1{
    padding-left: 12px;
  }
  .pr-1{
    padding-right: 12px;
  }
  .container{
    width: 1200px;
    margin: 0 auto;
  }
  /*--區塊1--*/
  .banner {
    height: 958px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week2/banner.png?raw=true) no-repeat;
    background-position: center;
    background-size: cover;
  }
  .banner-box {
    color:#fff;
  }
  .banner  {
      h1{
        font-size: 80px;
        padding-bottom: 32px;
      }
      span{
          font-size: 24px;
          padding-bottom: 40px;
      }
  }
  .icon {
    display: flex;
    justify-content: space-between;
    img{
      width: 60px;
    }
  }
  /*--區塊2--*/
  .about {
    width: 412px;
    margin: 0 auto;
    font-weight: bold;
    margin-bottom: 56px;
    text-align: center;
    img{
      width: 384px;
      height: auto;
    }
    &-title{
      padding-top: 20px;
      padding-bottom: 8px;
    }
    &-box{
      margin-top: 20px;
      margin-bottom: 28px;
    }
  }
  .born-date {
    padding-top: 4px;
  }
  .college {
    border-bottom: 1px solid #000000;
    padding-bottom: 24px;
  }
  .dot p:before {
    content: '';
    display: inline-block;
    width: 22px;
    height: 22px;
    background-color: #891818;;
    border-radius: 50%;
    margin-right: 16px;
    vertical-align: middle;
  }
  /*--區塊3--*/
  .brand{
    text-align: center;
    color: #fff;
    background-color: #000;
    h2{
      font-size: 50px;
    }
  }
  .brand-content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  /*--區塊4--*/
  .work{
    text-align: center;
    font-weight: bold;
    &-box{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
  /*--區塊5--*/
  footer{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 64px 0;
  }
  .contact-info a{
    color: #fff;
    font-size: 24px;
  }
  .contact-info a:hover{
    color: #707070;
    transition: .5s;
  }